<table class="table-responsive table">
    <thead>
        <tr>
            <td></td>
            <td ng-repeat="event in events">
                {{ event.date | date }}
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="level in priceLevels">
            <td>
                {{ level.name }}
            </td>
            <td ng-repeat="event in events" ng-click="buyEvent(event, level)">
                {{ event.prices[level.code] | currency:"USD$"}}
            </td>
        </tr>
    </tbody>
</table>
